{% extends 'base.html' %}

{% block content %}
	<html>
	<body>
		
		<div class="dropdown">
			<button class="dropbtn">选择分组</button>
			<div class="dropdown-content">
				<a href="Data1">分组 1</a>
				<a href="Data2">分组 2</a>
				<a href="Data3">分组 3</a>
				<a href="Data4">分组 4</a>
				<a href="Data5">分组 5</a>
				<a href="Data6">分组 6</a>
				<a href="Data7">分组 7</a>
				<a href="Data8">分组 8</a>
				<a href="Data9">分组 9</a>
				<a href="Data10">分组 10</a>
				<a href="Data11">分组 11</a>
				<a href="Data12">分组 12</a>
				<a href="Data13">分组 13</a>
				<a href="Data14">分组 14</a>
				<a href="Data15">分组 15</a>
				<a href="Data16">分组 16</a>
				<a href="Data17">分组 17</a>
				<a href="Data18">分组 18</a>
				<a href="Data19">分组 19</a>
				<a href="Data20">分组 20</a>
				<a href="Data21">分组 21</a>
				<a href="Data22">分组 22</a>
				<a href="Data23">分组 23</a>
				<a href="Data24">分组 24</a>
				<a href="Data25">分组 25</a>
			</div>
		</div>
	
	</body>
</html>

{% endblock %}

